html,body{
  height: 98vh;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: linear-gradient(to left top  , #2F304B,#1C413F,  #18364C );
  height: 100%;
}

.App{
  height: 100vh;
}

button{
  cursor: pointer;
}

